Hello <%= @user.display_name %>,
=======================================================
 
You have subscribed to the story: <%= @story.title %>
It's time to rejoice and rejoin!
 
It's the <%= @story.period %> period in the story, visit <a href="<%= story_url(@story, host: 'madscribes.com') %>"><%= story_url(@story, host: 'madscribes.com') %></a>
 
Thanks and have a great day!