<div class="well home_header">
  <h1>Create stories with friends in real time</h1>
  <%= image_tag("header.jpg") %>

  <h4 style="margin-left: 30%; padding-top: 10px; text-align: left; line-height: 22px;">
    <ol>
      <li>Each round you submit a passage</li>
      <li>Everyone votes on the passage they like the best</li>
      <li>The winning passage is added to the story</li>
      <li>You recieve a point for each vote</li>
    </ol>
  </h4>

  <%= link_to "Create Story", new_story_path, class: "btn btn-success btn-lg", style: "margin-top: 15px; margin-bottom: 15px;" %>

</div>

<% if @pending_stories.any? %>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">New Stories</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover" style="cursor:pointer;">
            <thead>
              <tr>
                <th>Story</th>
                <th>Rounds</th>
                <th><span class="badge">Subscribers</span> / Names</th>
              </tr>
            </thead>
            <tbody>
              <% @pending_stories.each do |story| %>
                <tr <%= "class=success" if story.user == current_user %> data-link="<%= story_url(story) %>" >
                  <td><%= story.title %></td>
                  <td><%= story.rounds %></td>
                  <td>
                    <span class="badge"><%= story.subscriptions.count %></span>
                    <%= story.subscriptions.map{|subscription| subscription.user.display_name}.to_sentence %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= will_paginate @pending_stories, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
<% end %>

<% if @live_stories.any? %>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Live Stories</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover" style="cursor:pointer;" style="margin-top:20px;">
            <thead>
              <th>Title</th>
              <th>Round</th>
              <th><span class="badge">Subscribers</span> / Names</th>
            </thead>
            <% @live_stories.each do |story| %>
              <tr <%= "class=success" if story.user == current_user %> data-link="<%= story_url(story) %>" >
                <td><%= story.title %></td>
                <td><%= story.round.to_s + " of " + story.rounds.to_s %></td>
                <td>
                  <span class="badge"><%= story.subscriptions.count %></span>
                  <%= story.subscriptions.map{|subscription| subscription.user.display_name}.to_sentence %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
        <%= will_paginate @live_stories, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
<% end %>

<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Story Search</h3>
    </div>
    <div class="panel-body">
      <div class="form-inline">
        <%= form_tag("/", method: "get") do %>
          <div class="field form-group">
            <%= label_tag(:q, "Search:", class: "control-label") %>
            <%= text_field_tag(:q, nil, class: "form-control") %>
          </div>
          <div class="actions form-group">
            <%= submit_tag("Search", class: "btn btn-success") %>
          </div>
        <% end %>
      </div>
        <div class="table-responsive">
          <table class="table table-hover" style="cursor:pointer;margin-top:20px;">
            <thead>
              <tr>
                <th>Story</th>
                <th>Rounds</th>
<th><span class="badge">Subscribers</span> / Names</th>
              </tr>
            </thead>
            <tbody>
              <% @stories.each do |story| %>
                <tr <%= "class=success" if story.user == current_user %> data-link="<%= story_url(story) %>" >
                  <td><%= story.title %></td>
                  <td><%= story.rounds %></td>
                  <td>
                    <span class="badge"><%= story.subscriptions.count %></span>
                    <%= story.subscriptions.map{|subscription| subscription.user.display_name}.to_sentence %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <%= will_paginate @stories, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>


<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Leaderboard</h3>
    </div>
    <div class="panel-body">
      <div class="sentence_container">
        <div class="table-responsive">
          <table class="table table-hover" style="cursor:pointer;">
            <thead>
              <tr>
                <th>Score</th>
                <th>Author</th>
                <th>Top Passage</th>
              </tr>
            </thead>
            <tbody>
              <% User.all.sort_by {|user| user.score}.reverse.take(15).each do |user| %>
                <tr <%= "class=success" if user == current_user %> data-link="<%= user_url(user) %>" >
                  <td><%= user.score %></td>
                  <td><%= user.display_name %></td>
                  <td><%= user.sentences.where(winner: true).order("array_length(votes, 1) DESC").first.try(:body) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
