<h1><%= @story.title %></h1>
<h4>by <%= @story.user.email %></h4>
<p><%= @story.body %></p>
<div class="sentence_container">
  <table class="table">
    <thead>
      <tr>
        <th>Round</th>
        <th>Author</th>
        <th>Votes</th>
        <th>Sentence</th>
      </tr>
    </thead>
    <tbody>
      <% @story.sentences.order(:round).each do |sentence| %>
        <tr>
          <td><%= sentence.round %></td>
          <td><%= sentence.user.email %></td>
          <td><%= sentence.votes.count %></td>
          <td><%= sentence.body %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
