<div class="page-header">
  <h1>
    <%= @story.title %> <small>by <%= @story.user.email %></small>
    <% if current_user && current_user.subscriptions.where(story: @story).none? %>
      <%= button_to "Subscribe", subscribe_story_path, class: "btn btn-default" %>
    <% end %>
  </h1>
</div>

<% if !@story.started_at && @story.user == current_user %>
  <h3><%= button_to "Ready Player One?", start_story_path, class: "btn btn-success" %></h3>
<% end %>

<% if @story.started_at && !@story.round %>
  <h3>Game Over</h3>
<% end %>

<p><%= @story.create_body %></p>
<% unless @story.active? %>
  <div class="sentence_container">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Round</th>
            <th>Author</th>
            <th>Votes</th>
            <th>Sentence</th>
          </tr>
        </thead>
        <tbody>
          <% @story.sentences.where(winner: true).order(:round).each do |sentence| %>
            <tr>
              <td><%= sentence.round %></td>
              <td><%= sentence.user.email %></td>
              <td><%= sentence.votes.count %></td>
              <td><%= sentence.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<h3><div id="startCountdown"><%= 'Round ' + @story.round.to_s if @story.active? %></div></h3>

<% if @story.active? %>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @story.percent_story_left %>%;">
      <% if @story.round == 1 %>
        First Round
      <% elsif @story.percent_story_left > 15 && @story.percent_story_left < 100 %>
        Story Completed <%= @story.percent_story_left %>%
      <% elsif @story.percent_story_left == 100 %>
        Last Round    
      <% end %>
    </div>
  </div>
<% end %>

<% if @story.active? %>
  <h3>Period Time <span id="countdown"><%= @story.seconds_left_in_period %></span></h3>
<% elsif !@story.started_at %>
  <div id="countdown" style="display:none;">-1</div>
<% end %>

<% if current_user && @story.period == :writing %>
  <%= form_for @sentence, url: story_sentences_url(@story), html: {class: "form-horizontal"} do |f| %>
    <h3>Submit a Sentence</h3>
    <div class="field form-group">
      <%= f.label :body, class: "col-sm-1 control-label" %>
      <div class="col-sm-11">
        <%= f.text_field :body, class: "form-control", :autofocus => true, disabled: @story.sentence_submitted?(current_user) %>
      </div>
    </div>
    <div class="actions form-group">
      <div class="col-sm-offset-1 col-sm-11">
        <% button_text = @story.sentence_submitted?(current_user) ? "Submitted" : "Submit" %>
        <%= f.submit button_text, class: "btn btn-success", disabled: @story.sentence_submitted?(current_user) %>
      </div>
    </div>
  <% end %>
<% end %>

<% if current_user && @story.period == :voting %>
  <h3>Vote now</h3>
  <div class="sentence_container">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Round</th>
            <th>Sentence</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @story.sentences.where(round: @story.round).order(created_at: :desc).each do |sentence| %>
            <tr>
              <td><%= sentence.round %></td>
              <td><%= sentence.body %></td>
              <% button_text = @story.vote_submitted?(current_user) ? "Voted" : "Vote" %>
              <td><%= button_to button_text, vote_story_sentence_path(@story,sentence), method: :post, disabled: @story.vote_submitted?(current_user), class: "btn btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  var seconds, element;
  function countdown() {
    element = $('#countdown');
    if (element.length)
      seconds = parseInt(element.text(), 10);
    else
      return;

    if (seconds == 0) {
      window.location.reload();
      return;
    } else if (seconds < 0 && seconds % 4 == 0) {
      $.get(location.pathname + '/is_active', function(data) {
        if(data == true)
          window.location.reload();
      });
    }
 
    seconds--;
    element.text(seconds);
    setTimeout(countdown, 1000);
  } 
  setTimeout(countdown, 1000);
</script>
